:root {
    --cyan : hsl(179, 62%, 43%);
    --bright-yellow : hsl(71, 73%, 54%);
    --light-grey : hsl(204, 43%, 93%);
    --grayish-blue : hsl(218, 22%, 67%);
}

html {
    font-size : 10px;
}

h1 {
    font-size : 1.8rem;
}

body {
    display : flex;
    align-items:center;
    flex-direction:column;
}
.container {
    display : flex;
    flex-direction : column;
    width : 25rem;
    box-shadow: 1rem 1rem 1em var(--light-grey), -1rem -1rem 1rem var(--light-grey);
    margin-top:15vh;
}

.container > div:not(button) {
    float : left;
}

/** style for 'Join our community' div **/
.container div {
    color : var(--light-grey);
    padding : 1rem 2rem 1rem 2rem;
}

.container div:nth-child(1) {
    background-color : white;
    border-radius: 1rem 1rem 0 0;
    color:var(--grayish-blue);
}
.container div:nth-child(1) h1 {
    color : var(--cyan);
}
.container div:nth-child(1) p:nth-child(2) {
    color : var(--bright-yellow);
}

/** style for 'Monthly Subscription' div **/
.container div:nth-child(2) {
    background-color : var(--cyan);
}
.container div:nth-child(2) p:nth-child(2) span {
    font-size : 3rem;
    font-weight : 500;
    color : var(--light-grey);
}
.container div:nth-child(2) p:nth-child(2) {
    color : var(--light-grey);
    font-weight : 100;
}
.container div:nth-child(2) p:nth-child(3) {
    font-weight : 100;
}
button {
    width : 100%;
    height : 3.5rem;
    border-radius : 0.6rem;
    border : none;
    background-color : var(--bright-yellow);
    color : var(--light-grey);
}
button:focus {
    outline : none;
}

.container div:nth-child(3) {
    background-color : var(--grayish-blue);
    border-radius: 0 0 1rem 1rem;
}
ul {
    list-style-type : none;
    padding-left : 0;
}

@media screen and (min-width:10px) {
    
    h1 {
        font-size:2rem;
    }
    
    .container {
        width:64rem;
        height:47rem;
        border-radius:3rem;
        display:grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    
    .container > div {
        padding:2rem 2rem 0 4rem;
    }
    
    /** join div */
    .container div:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/2;
        border-radius: 1rem 1rem 0 0;
        font-size:1.6rem;
        margin-bottom:-3rem;
    }
    
    /** subscription div */
    .container div:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
        border-radius: 0 0 0 1rem;
        font-size:1.5rem;
    }
    .container div:nth-child(2) span {
        weight:600;
    }
    .container div:nth-child(2) button {
        width:80%;
    }
    
    /** Why us div */
    .container div:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
        border-radius: 0 0 1rem 0;
        font-size:1.6rem;
    }
    .container div:nth-child(3) ul {
        font-size:1.2rem;
        line-height: 1.6;
    }
}
